*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f2f2f2;
    padding:20px;
}

.container{
    max-width:420px;
    margin:auto;
    margin-top:40px;
}

.language-box{
    text-align:right;
    margin-bottom:40px;
}

select{
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
    background:white;
}

.title{
    color:#1f73c9;
    font-size:44px;
    font-weight:bold;
    line-height:1.2;
    margin-bottom:25px;
}

.subtitle{
    font-size:20px;
    color:#444;
    font-weight:bold;
    line-height:1.4;
    margin-bottom:35px;
}

.search-box{
    display:flex;
    background:white;
    border:1px solid #ddd;
    border-radius:10px;
    overflow:hidden;
}

.search-box input{
    flex:1;
    border:none;
    padding:18px;
    font-size:18px;
    outline:none;
}

.search-box button{
    width:70px;
    border:none;
    background:white;
    font-size:22px;
    cursor:pointer;
}

.tracking-result,
.blocked-result{
    display:none;
    background:white;
    padding:20px;
    border-radius:14px;
    margin-top:30px;
    box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

.tracking-result h2{
    color:green;
    margin-bottom:15px;
}

.blocked-result h2{
    color:red;
    margin-bottom:15px;
}

.success{
    color:green;
    font-weight:bold;
    margin-top:15px;
    font-size:18px;
}

@media(max-width:480px){

    .title{
        font-size:34px;
    }

    .subtitle{
        font-size:18px;
    }

}
